.main {
  width: 100%;
  min-height: 100%;
}

.bg-window {
  background-color: color-mix(in srgb, var(--p-surface-900) 65%, #000) !important;
}

.text-secondary {
  @apply text-surface-400;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.spacer {
  @apply flex-1;
}

.material-symbols-outlined {
  @apply leading-none;
}

.p-tabs {
  .p-tablist-tab-list,
  .p-tabpanels,
  .p-datatable-header-cell,
  .p-datatable-tbody > tr {
    background: none !important;
  }

  .p-tabpanels {
    @apply p-0 !important;
  }
}


.p-chip {
  @apply cursor-pointer;
}

.p-button {
  @apply font-medium;
}

.p-autocomplete {
  input {
    @apply w-full;
  }
}

.p-multiselect {
  &.p-variant-filled {
    .p-chip {
      @apply bg-surface-700 bg-opacity-50;
    }
  }
}
